.education {
  padding: 5rem;
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    border: 1px solid red;
  }
  &__right {
    width: 50%;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    img {
      width: 100%;
      border-radius: 5px;
    }
  }
}
