// ? Fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

// ? Variables
$color-black: #000000;
$color-primary: #0071bc;
// ? Mixians
@mixin defaultShadow {
  box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
}

// ? Section heading

.section_heading {
  text-transform: capitalize;
  color: $color-primary;
  font-size: 3.5rem;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 4rem;
  font-weight: bold;
}

.section_box {
  display: flex;
}
