@import "../../styles/style";
.skills {
  &__left {
    width: 50%;
    border: 1px solid red;
  }
  &__right {
    display: flex;
    justify-content: center;
    width: 50%;
    // border: 1px solid blue;
    img {
      width: 100%;
      border-radius: 5px;
      @include defaultShadow;
    }
  }
}
