@import "../../styles/style";

.header {
  //   border: 1px solid red;
  padding: 4rem;
  display: flex;
  //! Left
  &__left {
    // border: 1px solid blue;
    width: 50%;
    &--box {
      padding: 5rem 10rem;
      // border: 2px solid red;
      transform: translateY(15%);
      .header__heading {
        // border: 1px solid red;
        font-size: 6rem;
        span {
          display: block;
          color: #0071bc;
        }
        margin-bottom: 3rem;
      }
      .resume {
        font-size: 2rem;
        width: 30%;
        text-align: center;
        background-color: #0071bc;
        color: white;
        text-decoration: none;
        padding: 1rem 2rem;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
  //! Rigth
  &__right {
    // border: 1px solid red;
    width: 50%;
    display: flex;
    justify-content: center;
    img {
      width: 40rem;
    }
  }
}
