.navbar {
  display: flex;
  // border: 1px solid red;
  background-color: white;
  color: black;
  justify-content: space-between;
  padding: 2rem 4rem;

  .subnavbar {
    display: flex;
    font-size: 2rem;
    text-transform: capitalize;
    a {
      text-decoration: none;
      margin-right: 1rem;
    }
  }
}
