@import "../../sass/main.scss";
.navbar {
  display: flex;
  // border: 1px solid red;
  background-color: white;
  color: black;
  justify-content: space-between;
  padding: 4rem 6rem;
  position: fixed;
  width: 100%;
  z-index: 2;
  @include defaultShadow;

  .subnavbar {
    display: flex;
    font-size: 1.6rem;
    text-transform: capitalize;
    .subnavbar__elements {
      margin-right: 3rem;
      // border: 1px solid red;
    }
    a {
      text-decoration: none;
      color: $color-black;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
